:root {
    /* Spacing */
    --spacing-02: 0.125rem;
    --spacing-04: 0.25rem;
    --spacing-06: 0.375rem;
    --spacing-08: 0.5rem;
    --spacing-10: 0.625rem;
    --spacing-12: 0.75rem;
    --spacing-14: 0.875rem;
    --spacing-16: 1rem;
    --spacing-18: 1.125rem;
    --spacing-20: 1.25rem;
    --spacing-22: 1.375rem;
    --spacing-24: 1.5rem;
    --spacing-26: 1.625rem;
    --spacing-28: 1.75rem;
    --spacing-30: 1.875rem;
    --spacing-32: 2rem;
    --spacing-34: 2.125rem;
    --spacing-36: 2.25rem;
    --spacing-38: 2.375rem;
    --spacing-40: 2.5rem;
    --spacing-42: 2.625rem;
    --spacing-44: 2.75rem;
    --spacing-46: 2.875rem;
    --spacing-48: 3rem;
    --spacing-50: 3.125rem;
    --spacing-52: 3.25rem;
    --spacing-54: 3.375rem;
    --spacing-56: 3.5rem;
    --spacing-58: 3.625rem;
    --spacing-60: 3.75rem;
    --spacing-62: 3.875rem;
    --spacing-64: 4rem;
    --spacing-66: 4.125rem;
    --spacing-68: 4.25rem;
    --spacing-70: 4.375rem;
    --spacing-72: 4.5rem;
    --spacing-74: 4.625rem;
    --spacing-76: 4.75rem;
    --spacing-78: 4.875rem;
    --spacing-80: 5rem;
    --spacing-82: 5.125rem;
    --spacing-84: 5.25rem;
    --spacing-86: 5.375rem;
    --spacing-88: 5.5rem;
    --spacing-90: 5.625rem;
    --spacing-92: 5.75rem;
    --spacing-94: 5.875rem;
    --spacing-96: 6rem;
    --spacing-98: 6.125rem;
    --spacing-100: 6.25rem;
    --spacing-102: 6.375rem;
    --spacing-104: 6.5rem;
    --spacing-106: 6.625rem;
    --spacing-108: 6.75rem;
    --spacing-110: 6.875rem;
    --spacing-112: 7rem;
    --spacing-114: 7.125rem;
    --spacing-116: 7.25rem;
    --spacing-118: 7.375rem;
    --spacing-120: 7.5rem;
    --spacing-122: 7.625rem;
    --spacing-124: 7.75rem;
    --spacing-126: 7.875rem;
    --spacing-128: 8rem;
    --spacing-130: 8.125rem;
    --spacing-132: 8.25rem;
    --spacing-134: 8.375rem;
    --spacing-136: 8.5rem;
    --spacing-138: 8.625rem;
    --spacing-140: 8.75rem;
    --spacing-142: 8.875rem;
    --spacing-144: 9rem;
    --spacing-146: 9.125rem;
    --spacing-148: 9.25rem;
    --spacing-150: 9.375rem;
    --spacing-152: 9.5rem;
    --spacing-154: 9.625rem;
    --spacing-156: 9.75rem;
    --spacing-158: 9.875rem;
    --spacing-160: 10rem;
    --spacing-162: 10.125rem;
    --spacing-164: 10.25rem;
    --spacing-166: 10.375rem;
    --spacing-168: 10.5rem;
    --spacing-170: 10.625rem;
    --spacing-172: 10.75rem;
    --spacing-174: 10.875rem;
    --spacing-176: 11rem;
    --spacing-178: 11.125rem;
    --spacing-180: 11.25rem;
    --spacing-182: 11.375rem;
    --spacing-184: 11.5rem;
    --spacing-186: 11.625rem;
    --spacing-188: 11.75rem;
    --spacing-190: 11.875rem;
    --spacing-192: 12rem;
    --spacing-200: 12.125rem;

    /* Colors */
    --grey-50: #E9E9E9;
    --grey-100: #BCBCBC;
    --grey-200: #9B9B9B;
    --grey-300: #6E6E6E;
    --grey-400: #515151;
    --grey-500: #262626;
    --grey-600: #232323;
    --grey-700: #1B1B1B;
    --grey-800: #151515;
    --grey-900: #101010;
    /* Blue */
    --blue-50: #EDF1FE;
    --blue-100: #E4EAFE;
    --blue-200: #C6D3FD;
    --blue-300: #4871F7;
    --blue-400: #4166DE;
    --blue-500: #3A5AC6;
    --blue-600: #3655B9;
    --blue-700: #2B4494;
    --blue-800: #20336F;
    --blue-900: #192856;
    /* BG White */
    --bg-white: #FDFFFC;
    --bg-grey: #F7F7F7;
}

@font-face {
    font-family: 'satoshi';
    src: url(Satoshi-Variable.ttf);
}

body {
    background-color: var(--bg-grey);
    font-family: 'satoshi', sans-serif;
    line-height: 120% !important;
}
.my-nav {
    position: fixed;
    bottom: 2%;
    z-index: 997;
}
.nav-floater {
    border-radius: var(--spacing-22);
    opacity: 1;
    background: var(--bg-white);
    /* border: 1px solid #E9E9E9; */
    /* img shadow */
    box-shadow: 0px 17px 5px 0px rgba(0, 0, 0, 0),0px 11px 4px 0px rgba(0, 0, 0, 0.01),0px 6px 4px 0px rgba(0, 0, 0, 0.02),0px 3px 3px 0px rgba(0, 0, 0, 0.03),0px 1px 1px 0px rgba(0, 0, 0, 0.04);
    z-index: 999;
    padding: var(--spacing-08);
}
.nav-logo-img {
    border: 1px solid var(--grey-50);
    width: var(--spacing-42);
    border-radius: 9.75px;
}
.container {
    max-width: 55%;
    min-width: 52rem;
}
.hero-section {
    height: 100vh;
    max-height: 44rem;
}
.top-bar {
    padding-top: var(--spacing-12);
}

.hi-there {
    font-size: var(--spacing-24);
    font-weight: 500;
    color: var(--grey-300);
}
.hi-tag {
    font-size: var(--spacing-18);
    font-weight: 400;
    color: var(--grey-200);
}
.wave-hand {
    width: var(--spacing-24);
    height: var(--spacing-24);

}
.main-logo {    
    width: var(--spacing-54);
    height: var(--spacing-54);
    box-shadow: 0px 63.48px 17.91px 0px rgba(0, 0, 0, 0),0px 40.69px 16.28px 0px rgba(0, 0, 0, 0),0px 22.79px 13.02px 0px rgba(0, 0, 0, 0.02),0px 9.77px 9.77px 0px rgba(0, 0, 0, 0.03),0px 3.26px 4.88px 0px rgba(0, 0, 0, 0.03);
    border-radius: var(--spacing-12);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

p {
    margin: 0;
}
.main-title {
    font-size: var(--spacing-52);
    font-weight: bold;
    color: var(--blue-300);
}
.gradient-h {
    background: linear-gradient(79deg, #262626 0%, #828282 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.main-description {
    font-size: var(--spacing-22);
    font-weight: 500;
    line-height: 140%;
    color: var(--grey-400) ;
}
.bento-wrapper {
    min-width: 100%;
    width: 100%;
    /* height: 100%;  */
}   
.small-wrapper {
    width: 30%;
    height: 100%;
}
.small-card {
    width: 100%;
    height: 100%;
    background-color: var(--bg-white);
    border-radius: var(--spacing-22);
    padding: var(--spacing-08);
}
.inner-small-grey {
    background-color: var(--bg-grey);
    border-radius: var(--spacing-14);
    overflow: hidden;
}
.main-character {
    width: 100%;
}
.cardname-box {
    width: 100%;
    padding-top: var(--spacing-08);
}
.card-name {
    font-size: var(--spacing-18);
    font-weight: 500;
    color: var(--grey-200);
}
.big-card {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: var(--bg-white);
    border-radius: var(--spacing-22);
    padding-left: var(--spacing-64);
    padding-top: var(--spacing-32);
    overflow: hidden;
}
.comp-frame-grey {
    width: 100%;
    height: 100%;
    border-radius: 56px 0 0 0;
    opacity: 1;
    background: linear-gradient(227deg, #C5C5C5 29%, #EDEDED 84%);
    box-shadow: -62.77px 48.82px 22.67px 0px rgba(0, 0, 0, 0),-40.1px 31.38px 20.92px 0px rgba(0, 0, 0, 0.02),-22.67px 17.43px 17.43px 0px rgba(0, 0, 0, 0.06),-10.46px 6.97px 12.2px 0px rgba(0, 0, 0, 0.1),-1.74px 1.74px 6.97px 0px rgba(0, 0, 0, 0.12);
    padding-left: var(--spacing-04);
    padding-top: var(--spacing-04);
}
.comp-frame-black {
    width: 100%;
    height: 100%;
    border-radius: 52px 0 0 0;
    background: radial-gradient(34% 83% at 14% 5%, #7C7C7C 0%, #1A1A1A 100%);
    padding-left: var(--spacing-14);
    padding-top: var(--spacing-14);
}
.comp-frame-white {
    width: 100%;
    height: 100%;
    border-radius: 38px 0 0 0;
    background-color: var(--bg-white);
    overflow: hidden;
}
.showcase-section {
    height: 100vh;
    max-height: 44rem;
}
/* .standard-section {
    padding-top: var(--spacing-100);
} */
.section-title {
    font-size: var(--spacing-26);
    font-weight: bold;
    color: var(--grey-400);
} 
.section-description {
    font-size: var(--spacing-18);
    font-weight: 500;
    color: var(--grey-300);
}
.my-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-08); 
    font-size: var(--spacing-16);
    font-weight: bold;
    text-decoration: none !important;
    padding: var(--spacing-18) var(--spacing-32);
    border-radius: var(--spacing-100);
    cursor: pointer;
    border: none;
} 
.btn-secondary {
    background-color: var(--grey-500);
    color: var(--bg-white);
}
.btn-primary {
    background-color: var(--blue-300);
    color: var(--bg-white);
}
.btn-grey {
    background-color: var(--grey-50);
    color: var(--grey-500);
}
.btn-social {
    border: 1px solid var(--blue-300);
    background-color: var(--blue-50);
    color: var(--blue-300);
}
.icon-btn {
    padding: var(--spacing-14);
}
.large-btn-icon {
    width: 1.1875rem;
    height: 1.1875rem;
}
.button-link {
    text-decoration: none !important;
}
.btn-smaller {
    padding: var(--spacing-12) var(--spacing-24) !important;
}   
.btn-help-text {
    font-family: Satoshi;
    font-size: var(--spacing-12);
    font-weight: bold;
    color: var(--grey-200);
}
.showcase-box {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.show-gradient {
    position: absolute;
    width: 100% !important;
    z-index: 10;
    height: 20%;
    max-height: 20%;
}

.top-gradient {
    opacity: 1;
    background: linear-gradient(180deg, #f8f8f8 0%, #f8f8f800 100%);
    top: 0;
}
.bottom-gradient {
    opacity: 1;
    background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #F8F8F8 100%);
    bottom: 0;
}
.loom-video-abt-me {
    width: 100%;
    height: 100%;
}
.testimonial-container {
    user-select: none; /* Prevents text selection */
    overflow-x: auto;
    padding-left: var(--spacing-24);
    padding-right: var(--spacing-24);
    cursor: grab;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.testimonial-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Cursor style */
.testimonial-container:active {
    cursor: grabbing;
}


.card {
    background-color: var(--bg-white);
    border-radius: var(--spacing-22);
    border: none;
    padding: var(--spacing-24);
    overflow: hidden;
}
.about-card {
    padding: 0 0 var(--spacing-24) 0;
}
.about-head {
    padding: var(--spacing-24) var(--spacing-24) 0 var(--spacing-24);
}
.testimonial-card {
    border: 1px solid var(--grey-50);
    padding: var(--spacing-16);
    border-radius: var(--spacing-16);
    min-width: 18rem;
}
.testimonial-img {
    height: var(--spacing-28);
    object-fit: contain;  
} 
.testi-avatar {
    height: var(--spacing-40);
    box-shadow: 0px 39px 11px 0px rgba(0, 0, 0, 0),0px 25px 10px 0px rgba(0, 0, 0, 0),0px 14px 8px 0px rgba(0, 0, 0, 0.02),0px 6px 6px 0px rgba(0, 0, 0, 0.03),0px 2px 3px 0px rgba(0, 0, 0, 0.03);
    border-radius: 50%;
}
.testi-content {
    font-size: var(--spacing-16);
    font-weight: normal;
    line-height: 140%;
}
.testi-tag {
    font-size: var(--spacing-14);
    color: var(--grey-200);
}
.pseudo-testi {
    bottom: 0;
    left: 0;
    /* background-color: #00C925; */
}
.pseudo-card {
    opacity: 0;
    z-index: -10;
}
.like-anim {
    width: 20%;
    object-fit: contain;
}

.btn-green {
    background-color: #29FF50;
    color: #00510F;
    border-radius: var(--spacing-100);
    z-index: 0;
}
.dot-div {
    width: var(--spacing-04);
    height: var(--spacing-04);
    background-color: var(--grey-200);
    border-radius: 50%;
}
.ligher-help {
    color: var(--grey-100);
}
.available-avatar {
    height: var(--spacing-34);
}
.available-chip {
    border-radius: var(--spacing-04);
    background: #0B0B0B;
    color: #00C925;
    border-radius: var(--spacing-04);
    padding: var(--spacing-08);
    line-height: 100%;
    font-size: var(--spacing-14);
    font-weight: 500;
}
.button-cat {
    font-weight: 500;
}
.marquer-tag {
    text-align: center;
}
.marquer {
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative;
}

.marquer-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200%;
}

.marquer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.marquer-item {
    width: auto;
    height: auto;
    margin: var(--spacing-32);
}
.marquer-img {
    width: 100%;
}

.marquer-up .marquer-inner {
    animation: marquer-up 60s linear infinite !important;
}
.marquer-down .marquer-inner {
    animation: marquer-down 60s linear infinite !important;
}

@keyframes marquer-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

@keyframes marquer-down {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(0); }
}

/* Marquee */
.marquee-tag {
    text-align: center;
}
.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-inner {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: var(--spacing-46);
}

.marquee-content {
    display: flex;
    align-items: center;
    gap: var(--spacing-46);
    flex-shrink: 0;
}

.marquee-item {
    flex-shrink: 0;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--spacing-150);
}

.head-n-tag {
   padding: var(--spacing-40) var(--spacing-24) 0 var(--spacing-24) ; 
}
.sidepad {
    padding-left: var(--spacing-24);
    padding-right: var(--spacing-24);
}
.dark-card {
    background-color: var(--grey-700);
    .section-title {
        background: linear-gradient(84deg, #FFFFFF 0%, #C4C4C4 81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: var(--spacing-34)
    }
    .section-description {
        color: var(--grey-200);
    }
    border-radius: var(--spacing-32);
    padding: 0;
    .heading-three {
        font-size: var(--spacing-22);
        color: var(--grey-100);
        font-weight: bold;
    }
}
.marg-top-100 {
    margin-top: var(--spacing-100);
}
.marg-top-200 {
    margin-top: var(--spacing-200);
}
.case-study-image {
    box-shadow: -36px 28px 13px 0px rgba(0, 0, 0, 0),-23px 18px 12px 0px rgba(0, 0, 0, 0.02),-13px 10px 10px 0px rgba(0, 0, 0, 0.06),-6px 4px 7px 0px rgba(0, 0, 0, 0.1),-1px 1px 4px 0px rgba(0, 0, 0, 0.12);
    border-radius: var(--spacing-32) var(--spacing-32) 0 0 ;
}
.case-study-card {
    padding-bottom: var(--spacing-00);
    .section-title {
        font-size: var(--spacing-30);
    }
}
.case-study-image {
    width: 80%;
}
.company-box {
    border: 1px solid var(--grey-50);
    padding: var(--spacing-16);
    border-radius: var(--spacing-14);
}
.exp-img {
    border: none !important;
}

.exp-img {
    width: var(--spacing-72);
    box-shadow: 0px 39px 11px 0px rgba(0, 0, 0, 0),0px 25px 10px 0px rgba(0, 0, 0, 0),0px 14px 8px 0px rgba(0, 0, 0, 0.02),0px 6px 6px 0px rgba(0, 0, 0, 0.03),0px 2px 3px 0px rgba(0, 0, 0, 0.03);
    border-radius: var(--spacing-14);
}
.exp-comp-name {
    font-size: var(--spacing-14);
    color: var(--grey-300);
}
.exp-card {
    padding: var(--spacing-08);
}
.chip {
    font-size: var(--spacing-12);
    font-weight: 500;
    padding: var(--spacing-04) var(--spacing-06);
    border-radius: var(--spacing-02);
}
.purple-chip {
    background: #FFEBFD;
    color: #4A0043;;
}
.mellow-chip {
    background: #C9FFEF;
    color: #00855D;
}
.yellow-chip {
    background: #F8FFC9;
    color: #3E4700;
}
.green-chip {
    background: #C9FFD8;
    color: #00641C;
}
.chip-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-04);
}
.fill-width {
    background-color: var(--grey-800);
    border-radius: 0 !important;
    .section-description {
        color: var(--grey-50);
        line-height: 180%;
    }
    padding-top: var(--spacing-64);
    padding-bottom: var(--spacing-64);
    margin-top: var(--spacing-100);
    
}
.advocate {
    object-fit: contain;
}
.advocate-img {
    width: var(--spacing-60)    ;
}
.adv-comp-box {
    border: 1px solid var(--grey-500);
}
.adv-content-box {
    .section-description {
        color: var(--bg-grey) !important;
    }
}
.socials-box {
    border: 1px solid var(--grey-50);
    border-radius: var(--spacing-14);
    padding: var(--spacing-08);
}
.social-icons {
    width: var(--spacing-52);
}
.socials-txt {
    font-size: var(--spacing-16);
    color: var(--grey-500);
    font-weight: medium;
}
.foot-text {
    padding-top: var(--spacing-100);
    padding-bottom: var(--spacing-100);
    color: var(--grey-500);
    font-weight: bold;
    font-size: var(--spacing-120);
    font-style: italic;
    background: linear-gradient(79deg, #7d7d7d 0%, #cacaca 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.design-adv-title {
    font-size: var(--spacing-52) !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.btn-close {
    cursor: pointer;
    z-index: 999;
    --bs-btn-close-bg: none;
    opacity: 1;
    width: fit-content;
    height: fit-content;
    .close-img {
        width: var(--spacing-32);
    }
}

.modal-content {
    padding: var(--spacing-32);
    background-color: var(--bg-grey);
    border-radius: var(--spacing-22);

}

.btn-green-txt {
    --bg-size: 400%;
    --color-one: hsl(111, 100%, 11%);
    --color-two: hsl(124, 100%, 36%);
    /* font-size: clamp(3rem, 25vmin, 8rem); */
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
}
@media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
  
.modal-dialog {
    width: 26%;
}
.modal-title {
    font-size: var(--spacing-30);
    line-height: 120%;
}
.social-btn-ico {
    max-width: var(--spacing-26);
    max-height: var(--spacing-26);
}
.divider {
    height: 1px;
    background-color: var(--grey-50);
    width: 100%;
}
.help-pop {
    font-weight: 500;
}
.lighter-help {
    color: var(--grey-50);
}
.lighter-help.help-pop{
    color: var(--grey-400);
}
.foot-img {
   height: var(--spacing-52); 
}
.carousel-control-next, .carousel-control-prev {
    position: unset;
    opacity: 1;
}
.carousel-card {
    padding: var(--spacing-04) !important;
}
.carousel-image {
    border-radius: var(--spacing-18);
}
@media screen and (min-width: 0px) and (max-width: 520px) { 
    .container {
        width: 100% !important;
        padding: 0;
        width: 100%;
    }
    .hero-section {
        height: none !important;
        width: 100vw;
        padding-left: var(--spacing-20);
        padding-right: var(--spacing-20);
        gap: var(--spacing-32) !important;
    }
    .top-bar {
        width: 100%;
    }
    .hi-there {
        font-size: var(--spacing-18);
    }
    .hi-tag {
        font-size: var(--spacing-12);
    }
    .main-logo {
        width: var(--spacing-36);
        height: var(--spacing-36);
        border-radius: 8.34px;
    }
    .main-title {
        font-size: var(--spacing-24);
    }
    .main-description {
        font-size: var(--spacing-14);
    }
    .bento-wrapper {
        flex-direction: column;

    }
    .small-wrapper {
        flex-direction: row !important;
    }

    .my-nav {
        position: fixed !important;
        bottom: 5% !important;
        left: 0 !important;
        width: 100vw !important;
        background-color: transparent !important;
        z-index: 997 !important;
        margin: 0 !important;
        -webkit-transform: none !important;
        transform: none !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .nav-floater {
        width: 100%;
        margin: 0;
        max-width: 100vw;
        border-radius:var(--spacing-12) var(--spacing-12) 0 0;
        box-shadow: 0px -71px 42px 0px rgba(0, 0, 0, 0.01),0px -125px 50px 0px rgba(0, 0, 0, 0),0px -31px 31px 0px rgba(0, 0, 0, 0.02),0px -196px 55px 0px rgba(0, 0, 0, 0),0px -8px 17px 0px rgba(0, 0, 0, 0.02);
    }

    body {
        min-height: 100vh;
        padding-bottom: 80px !important;
        overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
        position: relative;
    }

    .small-wrapper {
        width: 100%;
        gap: var(--spacing-12) !important;
        height: auto;
    }
    .small-card {
        width: 100%;
    }
    .bento-wrapper {
        /* max-height: 100%; */
        gap: var(--spacing-12) !important;
    }
    .big-card {
        max-height: 100%;
        min-height: auto !important;
        padding-left: var(--spacing-32);
        padding-top: var(--spacing-24);
        gap: var(--spacing-08) !important;
    }
    .card-name {
        font-size: var(--spacing-12) !important;
    }
    .main-character {
        height: var(--spacing-90);
        object-fit: contain;
    }
    .animated-action {
        height: 15rem;
    }
    .comp-frame-grey {
        padding: var(--spacing-04) 0 0 var(--spacing-04);
        border-radius: var(--spacing-32) 0 0 0;
    }
    .comp-frame-black {
        padding: var(--spacing-08) 0 0 var(--spacing-08);
        border-radius: var(--spacing-24) 0 0 0;
    }
    .comp-frame-white {
        /* padding: var(--spacing-08) 0 0 var(--spacing-08); */
        border-radius: var(--spacing-16) 0 0 0;
    }
    .showcase-section {
        margin-top: var(--spacing-80);
    }
    .standard-section {
        padding: 0 var(--spacing-20) 0 var(--spacing-20);
        width: 100vw;
    }
    .section-title {
        font-size: var(--spacing-22);
    }
    .section-description {
        font-size: var(--spacing-14);
    }
    .res-0-520-column {
        flex-direction: column !important;
    }
    .res-0-520-row {
        flex-direction: row !important;
    }
    .res-0-520-column-rev {
        flex-direction: column-reverse !important;
    }
    .res-0-520-align-center {
        align-items: center !important;
    }
    .res-0-520-gap-16 {
        gap: var(--spacing-16) !important;
    }
    .res-0-520-gap-08 {
        gap: var(--spacing-08) !important;
    }
    .res-0-520-gap-04 {
        gap: var(--spacing-04) !important;
    }
    .res-0-520-w-100 {
        width: 100% !important;
    }
    .btn-help-text {
        font-size: var(--spacing-10);
        font-weight: 500;
    }
    .marquer {
        padding: 0 !important;
    }
    .marquer-item {
        margin: var(--spacing-12) !important;
    }
    .about-section {
        height: 30rem;
    }
    .testimonial-img {
        height: var(--spacing-24);
        object-fit: contain;  
    } 
    .testimonial-card {
        padding: var(--spacing-14);
        min-width: 15.5rem;
    }
    .dark-card {
        .section-title {
            font-size: var(--spacing-22);
            text-align: center;
        }
        .section-description {
            font-size: var(--spacing-14);
            text-align: center;
        }
        .head-n-tag {
            justify-content: center !important;
        }
        .button-link {
            width: 100% !important;
        }
    }
    .available-avatar {
        height: var(--spacing-28);
    }
    .available-chip {
        font-size: var(--spacing-10);
        padding: var(--spacing-04);
    }
    .marquee-item {
        height: 17rem;
        object-fit: contain;
    }
    .case-study-card {
        .section-title {
            font-size: var(--spacing-22);
        }
    }
    .chip-wrapper {
        height: fit-content !important;
    }
    .chip {
        font-size: var(--spacing-10);
        padding: var(--spacing-04);
        height: fit-content !important;
    }
    .exp-img {
        width: var(--spacing-62);
        border-radius: var(--spacing-12);
    }
    .exp-comp-name {
        font-size: var(--spacing-12)
    }
    .design-adv-title {
        font-size: var(--spacing-22) !important;
        text-align: start !important;
    }
    .adv-title-img {
        width: var(--spacing-40);
    }
    .fill-width {
        .section-description {
            font-size: var(--spacing-14) !important;
            width: 100% !important;
        }
    }
    .my-button {
        font-size: var(--spacing-14);
        padding: var(--spacing-18) var(--spacing-28) !important;
    }
    .icon-btn {
        padding: var(--spacing-16);
    }
    .btn-smaller {
        padding: var(--spacing-10) var(--spacing-24) !important;
    }  

    .modal-dialog {
        max-width: 100%;
        z-index: 99999;
    }

    .modal-dialog {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        max-width: 100%;
        transform: translateY(100%); /* Start below the viewport */
        transition: transform 0.35s ease-in-out; /* Only slide transition */
        border-radius: var(--spacing-28) var(--spacing-28) 0 0 ;
    }

    /* Slide-in when the modal is shown */
    .modal.show .modal-dialog {
        transform: translateY(0); /* Slide into view */
    }

    /* Slide-out when the modal is hidden */
    .modal:not(.show) .modal-dialog {
        transform: translateY(100%); /* Slide out of view */
    }

    .modal-content {
        padding: var(--spacing-32) var(--spacing-20);
        .card {
            padding: var(--spacing-16);
        }
        .section-title {
            font-size: var(--spacing-20);
        }
        border-radius: var(--spacing-28) var(--spacing-28) 0 0 !important;
    }
    .socials-txt {
        font-size: var(--spacing-14);
    }

}

@media screen and (min-width: 350px) and (max-width: 520px) {
    .hi-there {
        font-size: var(--spacing-20);
    }
    .hi-tag {
        font-size: var(--spacing-14);
    }
    .main-title {
        font-size: var(--spacing-32);
    }
    .main-description {
        font-size: var(--spacing-16);
    }
    .main-character {
        min-height: 8rem;
    }
    .card-name {
        font-size: var(--spacing-14) !important;
    }
    .section-title {
        font-size: var(--spacing-26);
    }
    .section-description {
        font-size: var(--spacing-16);
    }
    .btn-help-text {
        font-size: var(--spacing-12);
    }
    .dark-card {
        .section-title {
            font-size: var(--spacing-26);
            text-align: center;
        }
            .section-description {
        font-size: var(--spacing-16);
    }
        .available-chip {
        font-size: var(--spacing-12);
        padding: 0 var(--spacing-08);
    }
    }

    .chip {
        font-size: var(--spacing-10);
    }
    .exp-comp-name {
        font-size: var(--spacing-12);
    }
    .design-adv-title {
        font-size: var(--spacing-40) !important;
    }
    .fill-width .section-description {
        font-size: var(--spacing-16) !important;
        text-align: start !important;
    }
    .my-button {
        font-size: var(--spacing-16);
    }
    .modal-content .section-title {
        font-size: var(--spacing-20);
    }
    .socials-txt {
        font-size: var(--spacing-14);
    }
}
















.w-60 {
    width: 60% !important;
}
.w-40 {
    width: 40% !important;
}

.w-fit-content {
    width: fit-content !important;
}

.h-fit-content {
    height: fit-content !important;
}

.gap-00-box {
    gap: var(--spacing-00);
}

.gap-02-box {
    gap: var(--spacing-02);
}

.gap-04-box {
    gap: var(--spacing-04);
}

.gap-06-box {
    gap: var(--spacing-06);
}

.gap-08-box {
    gap: var(--spacing-08);
}

.gap-10-box {
    gap: var(--spacing-10);
}

.gap-12-box {
    gap: var(--spacing-12);
}

.gap-14-box {
    gap: var(--spacing-14);
}

.gap-16-box {
    gap: var(--spacing-16);
}

.gap-18-box {
    gap: var(--spacing-18);
}

.gap-20-box {
    gap: var(--spacing-20);
}

.gap-22-box {
    gap: var(--spacing-22);
}

.gap-24-box {
    gap: var(--spacing-24);
}

.gap-26-box {
    gap: var(--spacing-26);
}

.gap-28-box {
    gap: var(--spacing-28);
}

.gap-30-box {
    gap: var(--spacing-30);
}

.gap-32-box {
    gap: var(--spacing-32);
}

.gap-34-box {
    gap: var(--spacing-34);
}

.gap-36-box {
    gap: var(--spacing-36);
}

.gap-38-box {
    gap: var(--spacing-38);
}

.gap-40-box {
    gap: var(--spacing-40);
}

.gap-42-box {
    gap: var(--spacing-42);
}

.gap-44-box {
    gap: var(--spacing-44);
}

.gap-46-box {
    gap: var(--spacing-46);
}

.gap-48-box {
    gap: var(--spacing-48);
}

.gap-50-box {
    gap: var(--spacing-50);
}

.gap-52-box {
    gap: var(--spacing-52);
}

.gap-54-box {
    gap: var(--spacing-54);
}

.gap-56-box {
    gap: var(--spacing-56);
}

.gap-58-box {
    gap: var(--spacing-58);
}

.gap-60-box {
    gap: var(--spacing-60);
}

.gap-62-box {
    gap: var(--spacing-62);
}

.gap-64-box {
    gap: var(--spacing-64);
}

.gap-66-box {
    gap: var(--spacing-66);
}

.gap-68-box {
    gap: var(--spacing-68);
}

.gap-70-box {
    gap: var(--spacing-70);
}

.gap-72-box {
    gap: var(--spacing-72);
}

.gap-74-box {
    gap: var(--spacing-74);
}

.gap-76-box {
    gap: var(--spacing-76);
}

.gap-78-box {
    gap: var(--spacing-78);
}

.gap-80-box {
    gap: var(--spacing-80);
}

.gap-82-box {
    gap: var(--spacing-82);
}

.gap-84-box {
    gap: var(--spacing-84);
}

.gap-86-box {
    gap: var(--spacing-86);
}

.gap-88-box {
    gap: var(--spacing-88);
}

.gap-90-box {
    gap: var(--spacing-90);
}

.gap-92-box {
    gap: var(--spacing-92);
}

.gap-94-box {
    gap: var(--spacing-94);
}

.gap-96-box {
    gap: var(--spacing-96);
}

.gap-98-box {
    gap: var(--spacing-98);
}

.gap-100-box {
    gap: var(--spacing-100);
}

.gap-102-box {
    gap: var(--spacing-102);
}

.gap-104-box {
    gap: var(--spacing-104);
}

.gap-106-box {
    gap: var(--spacing-106);
}

.gap-108-box {
    gap: var(--spacing-108);
}

.gap-110-box {
    gap: var(--spacing-110);
}

.gap-112-box {
    gap: var(--spacing-112);
}

.gap-114-box {
    gap: var(--spacing-114);
}

.gap-116-box {
    gap: var(--spacing-116);
}

.gap-118-box {
    gap: var(--spacing-118);
}

.gap-120-box {
    gap: var(--spacing-120);
}

.gap-122-box {
    gap: var(--spacing-122);
}

.gap-124-box {
    gap: var(--spacing-124);
}

.gap-126-box {
    gap: var(--spacing-126);
}

.gap-128-box {
    gap: var(--spacing-128);
}

.gap-130-box {
    gap: var(--spacing-130);
}

.gap-132-box {
    gap: var(--spacing-132);
}

.gap-134-box {
    gap: var(--spacing-134);
}

.gap-136-box {
    gap: var(--spacing-136);
}

.gap-138-box {
    gap: var(--spacing-138);
}

.gap-140-box {
    gap: var(--spacing-140);
}

.gap-142-box {
    gap: var(--spacing-142);
}

.gap-144-box {
    gap: var(--spacing-144);
}

.gap-146-box {
    gap: var(--spacing-146);
}

.gap-148-box {
    gap: var(--spacing-148);
}

.gap-150-box {
    gap: var(--spacing-150);
}

.gap-152-box {
    gap: var(--spacing-152);
}

.gap-154-box {
    gap: var(--spacing-154);
}

.gap-156-box {
    gap: var(--spacing-156);
}

.gap-158-box {
    gap: var(--spacing-158);
}

.gap-160-box {
    gap: var(--spacing-160);
}

.gap-162-box {
    gap: var(--spacing-162);
}

.gap-164-box {
    gap: var(--spacing-164);
}

.gap-166-box {
    gap: var(--spacing-166);
}

.gap-168-box {
    gap: var(--spacing-168);
}

.gap-170-box {
    gap: var(--spacing-170);
}

.gap-172-box {
    gap: var(--spacing-172);
}

.gap-174-box {
    gap: var(--spacing-174);
}

.gap-176-box {
    gap: var(--spacing-176);
}

.gap-178-box {
    gap: var(--spacing-178);
}

.gap-180-box {
    gap: var(--spacing-180);
}

.gap-182-box {
    gap: var(--spacing-182);
}

.gap-184-box {
    gap: var(--spacing-184);
}

.gap-186-box {
    gap: var(--spacing-186);
}

.gap-188-box {
    gap: var(--spacing-188);
}

.gap-190-box {
    gap: var(--spacing-190);
}

.gap-192-box {
    gap: var(--spacing-192);
}

.gap-194-box {
    gap: var(--spacing-194);
}

.gap-196-box {
    gap: var(--spacing-196);
}

.gap-198-box {
    gap: var(--spacing-198);
}

.gap-200-box {
    gap: var(--spacing-200);
}
